<p class="w2">welcome2 works!</p>
<h1>{{title}}</h1>

<!-- src/app/login/login.component.html -->

<div class="login-container">
    <h2>Login</h2>
    <form>
      <label for="username">Username:</label>
      <input type="text" id="username" placeholder="Enter your username">
  
      <label for="password">Password:</label>
      <input type="password" id="password" placeholder="Enter your password">
  
      <button type="button">Login</button>
    </form>
  </div>
  <!-- src/app/chat/chat.component.html -->

<div class="chat-container">
  <div class="chat-header">
    <h2>Chat App</h2>
  </div>
  <div class="chat-messages">
    
  </div>
  <div class="chat-input">
    <input placeholder="Type your message...">
    <button >Send</button>
  </div>
</div>
